@import "./src/components/articles_list.scss";
@import "./src/components/articulo_card.scss";
@import "./src/components/controls.scss";
@import "./src/components/families.scss";
@import "./src/components/modal.scss";
@import "./src/components/modification_list.scss";
@import "./src/components/navbar.scss";
@import "./src/components/panels.scss";
@import "./src/components/upd_articulo_form.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100vh;
}
li {
  width: 50%;
  display: inline-flex;
  justify-content: center;
}
.grid {
  height: 100%;
  display: grid;
  grid-template-areas:
    "navigation navigation navigation"
    "mod-list panels families"
    "mod-list panels art-list"
    "controls controls controls";
  grid-template-rows: 1fr 4fr 18fr 4fr;
  grid-template-columns: 2fr 1fr 6fr;
  gap: 4px;
}
.flex-container {
  padding: 1rem;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
}

.grid-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 4px;
  grid-auto-rows: auto;
  overflow-y: auto;
}

.card {
  border: 2px solid black;
  border-radius: 8px;
  padding: 0.5rem;
}

