.art-list {
  background-color: grey;
  display: grid;
  gap: 4px;
  grid-area: art-list;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  overflow-y: auto;
  padding: 1rem;
}

